/* style.css */

/* ---------- Fonts ---------- */

@font-face {
    font-family: 'Fira Sans';
    src: url('../fonts/FiraSans-Medium.woff2') format('woff2'),
        url('../fonts/FiraSans-Medium.woff') format('woff'),
        url('../fonts/FiraSans-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Fira Sans';
    src: url('../fonts/FiraSans-SemiBold.woff2') format('woff2'),
        url('../fonts/FiraSans-SemiBold.woff') format('woff'),
        url('../fonts/FiraSans-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Fira Sans';
    src: url('../fonts/FiraSans-Bold.woff2') format('woff2'),
        url('../fonts/FiraSans-Bold.woff') format('woff'),
        url('../fonts/FiraSans-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Fira Sans';
    src: url('../fonts/FiraSans-ExtraBold.woff2') format('woff2'),
        url('../fonts/FiraSans-ExtraBold.woff') format('woff'),
        url('../fonts/FiraSans-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

/* Poppins family with multiple weights */

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Light.woff2') format('woff2'),
        url('../fonts/Poppins-Light.woff') format('woff'),
        url('../fonts/Poppins-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Regular.woff2') format('woff2'),
        url('../fonts/Poppins-Regular.woff') format('woff'),
        url('../fonts/Poppins-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Medium.woff2') format('woff2'),
        url('../fonts/Poppins-Medium.woff') format('woff'),
        url('../fonts/Poppins-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-SemiBold.woff2') format('woff2'),
        url('../fonts/Poppins-SemiBold.woff') format('woff'),
        url('../fonts/Poppins-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

/* ---------- Variables ---------- */
:root {
    --color-primary: #00a0aa;
    --color-secondary: #2a3e79;
    --gradient-primary: linear-gradient(135deg, #00a0aa 0%, #006c73 100%);
}

/* ---------- Global Reset ---------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    font-family: "Poppins";
}

h1,
h2,
h3,
h4 {
    font-family: 'Fira Sans';
    color: #2A3E79;
    font-weight: 700;
    margin-bottom: 20px;
}

h1 {
    font-size: 60px;
}

h2 {
    font-size: clamp(30px, 4vw, 55px);
    line-height: clamp(1.1, 2.5vw, 1.3);
    /* relative line-height scaling */
}

p {
    font-family: "Poppins";
    font-weight: 500;
    font-size: clamp(14px, 1.2vw, 18px);
    color: #595959;
    line-height: 150%;
}

a {
    text-decoration: none;
}

/* ---------- Layout containers ---------- */
.container {
    max-width: 1520px;
    margin: 0 auto;
    padding: 0 50px;
}

.row {
    display: flex;
    width: 100%;
}

/* ---------- Header / Navigation ---------- */
header {
    position: relative;
    width: 100%;
}

/* Top bar (header row 1) */
.header-r1-outer-cont {
    background: var(--gradient-primary);
    color: #fff;
    padding: 13px 0;
}

.header-r1 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-r1-left span,
.header-r1-left a {
    font-family: 'Poppins';
    font-weight: 600;
    font-size: clamp(14px, 1.5vw, 16px);
}

.header-r1-left,
.header-phone {
    display: flex;
    align-items: center;
    gap: 15px;
}

.header-r1-left a {
    color: #fff;
    text-decoration: none;
}

.header-r1 .header-r1-right a {
    color: #fff;
    background: transparent;
    padding: 4px 25px;
    border: 2.5px solid #fff;
    border-radius: 32px;
    text-decoration: none;
    cursor: pointer;
    font-weight: 600;
    font-size: 15px;
}

/* Navigation / second row */
.header-r2-outer-cont {
    position: absolute;
    width: 100%;
    z-index: 11;
}

.header-r2 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    padding: 35px 0;
}

.header-r2-left {
    width: 220px;
}

.header-r2-left img {
    width: 100%;
}

.header-r2-center {
    /* width: calc(100% - 50px - 220px); */
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.header-r2-right {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Menu container to toggle */
/* #menuList {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
} */

/* Navigation list styling */
.header-r2-center nav ul {
    display: flex;
    list-style-type: none;
    gap: 40px;
}

.header-r2-center nav ul li a {
    font-size: clamp(14px, 1.5vw, 16px);
    text-decoration: none;
    color: #595959;
    text-transform: uppercase;
    white-space: nowrap;
    font-family: 'Poppins';
    font-weight: 500;
}

/* Appointment / call-to-action button in header */
.header-appointment-btn,
.home-sec-3 .view-more-btn,
.home-sec-4 .view-more-btn,
.qd-appointment-btn,
.wtn-sec-2 .view-more-btn {
    text-transform: uppercase;
    color: #fff;
    background: var(--color-secondary);
    padding: 14px 30px;
    border-radius: 32px;
    font-size: clamp(14px, 1.2vw, 18px);
    text-decoration: none;
    border: none;
    font-family: 'Poppins';
    font-weight: 600;
}

.home-sec-6 .qd-appointment-btn {
    /* width: 333px; */
    padding: 14px 40px;
    display: inline-block;
    text-align: center;
    margin-top: 25px;
    font-family: 'Poppins';
}


/* .home-sec-1,
.home-sec-2,
.home-sec-3,
.home-sec-4,
.home-sec-5,
.home-sec-6,
.ckd-sec-2  */
section {
    padding-top: 100px;
    padding-bottom: 100px;
}

.wtn-sec-2 {
    padding-top: 67px;
}

.ckd-sec-2 {
    padding-bottom: 0 !important;
}

.ckd-page .home-sec-2 {
    padding-top: 30px;
}

.home-sec-2 .r2,
.home-sec-3 {
    /* display: none; */
}

.sec-heading {
    font-family: 'Fira Sans';
    color: #2A3E79;
    font-weight: 700;
    margin-bottom: 20px;
    text-align: center;
    text-transform: capitalize;
}

.sec-para {
    font-family: 'Poppins';
    color: #595959;
    margin-bottom: 50px;
    font-weight: 400;
    text-align: center;
}

/* Hero / banner section */
.home-sec-1,
.ckd-sec-1,
.wtn-sec-1 {
    background-image: url('../images/home inner banner.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 170px;
}

.ckd-sec-1,
.wtn-sec-1 {
    background-image: url('../images/Chronic-Kidney-Disease-banner-with-overlay.png');
    padding-top: 247px;
    padding-bottom: 105px;
}

.wtn-sec-1 {
    background-image: url('../images/whats-new-banner.png');
}

/* Hamburger toggler (mobile) */
/* .navbar-toggler {
    display: none;
} */

.navbar-toggler i {
    font-size: 30px;
    color: var(--color-secondary);
}

.home-sec-1 .r1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    /* border: 1px solid black; */
}

.home-sec-1 .r1 .content {
    /* max-width: 753px; */
    width: 53%;
}

.home-sec-1 .r1 .appointment-form {
    /* width: calc(100% - 753px - 87px); */
    width: 40%;
}

.home-sec-1 .content-heading {
    font-family: 'Fira Sans';
    font-size: clamp(35px, 4vw, 51px);
    color: #2a3e79;
    font-weight: 700;
    margin-bottom: 40px;
    line-height: clamp(45px, 6vw, 65px);
}

.home-sec-1 .content-desc {
    font-family: 'Poppins';
    color: #595959;
    margin-bottom: 40px;
    font-weight: 500;
    line-height: 200%;
}

.contact-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contact-info .contact-info-call,
.contact-info .contact-info-location {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.contact-info .contact-info-call p,
.contact-info .contact-info-location p {
    color: #2A3E79;
    font-size: clamp(13px, 1.5vw, 16px);
    font-weight: 500;
    margin-bottom: 5px;
}

.contact-info .contact-info-call a,
.contact-info .contact-info-location a {
    text-decoration: none;
    color: #2A3E79;
    font-size: clamp(18px, 2vw, 24px);
    font-weight: 600;
}

/* Appointment Form */
.appointment-form {
    background: white;
    padding: 34px;
    border-radius: 8px;
    /* box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1); */
    box-shadow: 0 0px 30px 0 #6060601A;
}

.appointment-form .appointment-form-h {
    font-size: clamp(24px, 3vw, 30px);
    text-align: center;
    color: #2A3E79;
    margin-bottom: 24px;
    font-weight: 700;
    font-family: 'Fira Sans';
}

.form-group {
    margin-bottom: 16px;
}

.form-group label {
    display: block;
    font-size: clamp(14px, 1.5vw, 16px);
    font-weight: 600;
    margin-bottom: 8px;
    color: #595959;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 10px 12px;
    border: 1px solid #0000001A;
    border-radius: 32px;
    font-size: 14px;
    min-height: 50px;
}

.form-group textarea {
    border-radius: 22px;
    resize: none;
    height: 124px;
}

.form-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
}

.form-note {
    font-size: clamp(13px, 1.5vw, 15px);
    font-family: 'Poppins';
    text-align: center;
    color: #595959;
    margin-top: 20px;
    font-weight: 400;
}

.form-note span {
    font-weight: 700;
}

.appointment-form .connect-btn {
    background-color: #2A3E79;
    color: white;
    border: none;
    padding: 14px 32px;
    border-radius: 32px;
    cursor: pointer;
    letter-spacing: 0.5px;
    width: 100%;
    font-size: clamp(14px, 2vw, 18px);
    font-family: 'Poppins';
    font-weight: 600;

}

.appointment-form input::placeholder,
.appointment-form textarea::placeholder {
    font-size: 13px;
    font-family: 'Poppins';
    color: #60606042;
    font-weight: 400;
}

/* services */
.Services-card-row {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    gap: 29px;
}

.Services-card-row .Services-card {
    width: calc((100% - 3 * 29px) / 4);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 40px 20px;
    box-shadow: 0px 0px 30px 0 #6060600D;
    transition: all ease 0.7s;
    transform: scale(1);
}

.Services-card-row .Services-card:hover {
    transition: all ease 0.7s;
    transform: scale(1.05);
    background: var(--gradient-primary);
}

.Services-card-row .Services-card:hover .Services-card-svg {
    border: none;
    background: #fff;
}

.Services-card-row .Services-card:hover * {
    color: #fff;
}

.Services-card-row .Services-card:hover button {
    color: #00A0AA;
    background: #fff;
}

.Services-card-row .Services-card:hover button svg path {
    color: #00A0AA;
    fill: #00A0AA;
}

.Services-card-row .Services-card .Services-card-svg {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 5px solid #00A0AA;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}

.Services-card .Services-card-h {
    font-family: 'Poppins';
    color: #2A3E79;
    margin-bottom: 20px;
    font-size: clamp(16px, 2vw, 20px);
    /* min: 16px, fluid: 2vw, max: 20px */
}

.Services-card .Services-card-p {
    color: #595959;
    margin-bottom: 20px;
    font-size: clamp(14px, 1.5vw, 16px);
    font-weight: 400;
    line-height: 150%;
}

.Services-card .Services-card-btn,
.location-card-btn {
    font-family: 'Poppins';
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 25px;
    color: #2A3E79;
    gap: 10px;
    border-radius: 32px;
    font-weight: 600;
    border: 0;
    background: none;
    cursor: pointer;
}

.location-card-btn {
    padding: 0px;
    font-family: 'Poppins';
    font-size: clamp(12px, 1.5vw, 16px);
}

/* our location  */
.home-sec-3 {
    background: #F1FEFFF2;
}

.location-card-row {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    gap: 30px;
}

.location-card-row .location-card {
    width: calc((100% - 1 * 30px) / 2);
    border-radius: 20px;
    display: flex;
    text-align: center;
    justify-content: space-between;
    background-color: #fff;
    gap: 20px;
    align-items: stretch;
    overflow: hidden;
}

.location-card-row .location-card .location-card-img {
    max-width: 250px;
}

.location-card-row .location-card .location-card-img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.location-card-row .location-card .location-card-content {
    padding: 40px 20px 40px 0px;
    color: #595959;
    font-size: clamp(14px, 1.5vw, 16px);
    width: calc(100% - 250px);
}


.location-card-row .location-card .location-card-content .location-card-h {
    color: #2A3E79;
    margin-bottom: 15px;
    text-align: start;
    font-size: clamp(20px, 2vw, 24px);

}

.location-card .location-details {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 8px;
}

.location-card .location-details p {
    text-align: start;
}

.location-card .location-details img {
    width: 18px;
    height: 18px;
}

.location-card .contact-details {
    display: flex;
    margin-bottom: 14px;
    flex-wrap: wrap;
}

.contact-details .call,
.contact-details .fax {
    width: 50%;
    display: flex;
    align-items: center;
    gap: 15px;

}

.contact-details .call a,
.contact-details .fax a {
    text-decoration: none;
    color: #595959;
    text-align: start;
}

.home-sec-3 .r3,
.home-sec-4 .r3 {
    text-align: center;
    margin-top: 60px;
}

.home-sec-4 .r3 {
    text-align: center;
    margin-top: 30px;
}

.home-sec-3 .view-more-btn,
.home-sec-4 .view-more-btn {
    font-weight: 600;
    font-size: clamp(14px, 1.2vw, 18px);
    padding: 14px 30px;
    cursor: pointer;
    min-width: 218px;
    font-family: 'Poppins';
}

.home-sec-3 .view-more-btn {
    font-weight: 600;
    font-size: clamp(14px, 1.2vw, 18px);
    padding: 14px 30px;
    cursor: pointer;
    min-width: 218px;
    font-family: 'Poppins';
}

.contact-info-call-img span {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: #00A0AA;
}

.home-sec-4 {
    /* padding-top: 0px; */
}

/* our team  */
.home-sec-4,
.home-sec-6 {
    background: #fff;
}

.team-card-row {
    display: flex;
    align-items: stretch;
    gap: 40px;
    flex-wrap: wrap;
}

.team-card-row .team-card {
    width: calc((100% - 4 * 40px) / 5);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
    transition: all ease 0.7s;
}

.team-card img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 30px;
}

.team-card .team-card-h {
    font-family: 'Poppins';
    color: #2A3E79;
    margin-bottom: 10px;
    font-size: 20px;
}

.team-card .team-card-job-desc {
    font-family: 'Poppins';
    color: #00A0AA;
    font-size: 14px;
    margin-bottom: 15px;
    font-weight: 600;
}

.team-card .team-card-desc {
    font-family: 'Poppins';
    color: #595959;
    font-size: clamp(14px, 1.5vw, 16px);
    font-weight: 400;
    line-height: 150%;
}

/* customer reviews */
.home-sec-5 {
    background-image: url('../images/home-sec-5-bg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-bottom: 120px;
}

.review-slider .slide {
    font-family: 'Poppins';
}

.review-slider .slick-track {
    display: flex;
    align-items: stretch;
    gap: 20px;
}

.review-slider .slick-slide {
    background: #fff;
    padding: 50px 30px;
    border-radius: 20px;
    /* transform: scale(0.9) !important; */
}

.slide .user-details {
    display: flex;
    align-items: center;
    gap: 30px;
}

/* .slide .user-details>div {
    border: 1px solid black;
} */

.slide .user-details .user-image {
    width: 110px;
}

.slide .user-details .user-image img {
    width: 100%;
    height: 110px;
    border-radius: 50%;
}

.slide .user-details .user-name {
    width: calc(100% - 30px - 110px);
}

.slide .user-details .user-name .slide-card-name {
    color: #2A3E79;
    font-weight: 600;
    font-size: 26px;
    margin-bottom: 5px;
}

.slide .user-details .user-name .slide-card-post-desc {
    color: #595959;
    font-weight: 400;
    font-size: clamp(14px, 1.2vw, 18px);
}

.review-slider .slide .user-review-stars {
    display: flex;
    margin: 40px 0px 28px 0px;
    gap: 5px;
}

.user-review-desc p {
    color: #595959;
    font-size: clamp(14px, 1.2vw, 18px);
    font-weight: 400;
    line-height: 179%;
}

.review-slider .slick-slide {
    transition: transform 0.3s ease;
    transform: scale(0.94);
}

.review-slider .slick-center {
    transform: scale(1);
    z-index: 2;
    background: var(--gradient-primary);
    transition: all ease 0.4s;
}

.review-slider .slick-center * {
    color: #fff !important;
}

.review-slider .slick-dots {
    bottom: -60px;
}

.slick-dots li button:before {
    font-size: 70px !important;
    color: #AFBED2 !important;
    opacity: 1 !important;
}

.slick-dots .slick-active button:before {
    color: #2A3E79 !important;
}

/* home-sec-6 */
.home-sec-6 .r1 {
    display: flex;
    align-items: center;
    gap: 100px;
    flex-wrap: wrap;
}

.home-sec-6 .r1>div {
    /* border: 1px solid black; */
}

.home-sec-6 .r1 .quality-doctor-img {
    width: 645px;
    border-radius: 20px;
    overflow: hidden;
}

.home-sec-6 .r1 .quality-doctor-img img {
    width: 100%;
}

.home-sec-6 .r1 .quality-doctor-content {
    width: calc(100% - 100px - 645px);
}

.home-sec-6 .r1 .quality-doctor-content-h {
    font-family: 'Fira Sans';
    font-size: clamp(30px, 4vw, 55px);
    color: #2A3E79;
    font-weight: 700;
    margin-bottom: 48px;
    text-transform: capitalize;
}

.quality-doctor-content ul li {
    font-family: 'Poppins';
    color: #595959;
    font-size: clamp(14px, 1.2vw, 18px);
    padding-bottom: 25px;
    font-weight: 400;
    text-align: left;
}

.quality-doctor-content ul {
    list-style: none;
    /* remove default bullets */
    padding-left: 0;
}

.quality-doctor-content ul li {
    position: relative;
    padding-left: 35px;
}

.quality-doctor-content ul li::before {
    content: "";
    /* or you can use a character */
    position: absolute;
    left: 0;
    /* top: 50%; */
    top: 16px;
    transform: translateY(-50%);
    width: 20px;
    /* icon width */
    height: 20px;
    /* icon height */
    background-image: url('../images/icons/circularcheck.png');
    background-size: contain;
    background-repeat: no-repeat;
}

footer {
    background: var(--gradient-primary);
}

footer * {
    color: #fff;
}

footer .r1 {
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer .r1 .footer-logo-part {
    width: 30%;
}

footer .r1 .footer-logo-part .logo {
    background: #fff;
    max-width: 285px;
    padding: 64px 28px 28px 28px;
    border-radius: 0px 0px 20px 20px;
}

footer .r1 .footer-logo-part .logo img {
    width: 100%;
}

footer .r1 .footer-logo-part .footer-desc {
    font-family: 'Poppins';
    font-size: clamp(16px, 1.2vw, 18px);
    font-weight: 400;
    margin: 23px 0px;
    line-height: 179%;
}

.useful-links,
.Services,
.contact {
    padding-top: 95px;
}

.footer-h {
    font-family: 'Poppins';
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 15px;
}

footer .useful-links {
    width: 15%;
}

footer .Services {
    width: 15%;
}

footer .contact {
    width: 24%;
}

.useful-links ul,
.Services ul,
.contact ul {
    list-style: none;
}

.useful-links ul li,
.Services ul li,
.contact ul li {
    padding: 10px 0;
}

.useful-links ul li a,
.Services ul li a,
.contact ul li a {
    text-decoration: none;
    font-family: 'Poppins';
    font-size: clamp(14px, 1.5vw, 16px);
    font-weight: 400;
}

footer a {
    text-decoration: none;
}

footer .location .location-icon-cont {
    display: flex;
    align-items: flex-start;
    gap: 15px;
    margin-bottom: 10px;
}

.foot-location-svg {
    width: 15px;
}

footer .location .location-icon-cont svg {
    margin-top: 5px;
    margin-right: 10px;
}

footer .location .location-icon-cont .heading,
.location .detailed-location {
    font-family: 'Poppins';
    font-size: clamp(16px, 1.2vw, 18px);
    font-weight: 700;
    margin-bottom: 10px;
    display: flex;
}

.location .detailed-location {
    font-size: clamp(14px, 1.5vw, 16px);
    font-weight: 400;
}

footer .r2 {
    border-top: 1px solid #ffffff51;
    margin-top: 30px;
}

footer .r2 p {
    font-family: 'Poppins';
    font-size: clamp(14px, 1.5vw, 16px);
    font-weight: 400;
    text-align: center;
    padding: 25px;
}


/* ///// */
/* Default: show menu normally */
.header-r2-center nav ul {
    display: flex;
    list-style: none;
}

/* Hide toggler on desktop */
.navbar-toggler {
    display: none;
    cursor: pointer;
    font-size: 24px;
}

.ckd-sec-1 .ckd-sec-1-h,
.wtn-sec-1 .wtn-sec-1-h {
    margin-bottom: 25px;
}

.ckd-sec-1 .ckd-sec-1-r1,
.wtn-sec-1 .wtn-sec-1-r1 {
    max-width: 840px;
}

.ckd-sec-1 .ckd-sec-1-r1 .para,
.ckd-sec-2-content .para,
.wtn-sec-1 .wtn-sec-1-r1 .para,
.wtn-sec-2-content .para {
    font-weight: 400;
    line-height: 197%;
}

.ckd-sec-2-content .para {
    margin-bottom: 35px;
}

.ckd-sec-1 .ckd-sec-1-r1 .para span,
.ckd-sec-2-content .para span {
    font-weight: 700;
}

.ckd-sec-2-content p span {
    line-height: 197%;
}

.ckd-sec-2 .ckd-sec-2-main-row {
    display: flex;
    justify-content: space-between;
}

.ckd-sec-2-main-row .ckd-sec-2-content {
    width: 64%;
}


.ckd-sec-2-main-row .ckd-sec-2-sidebar {
    width: 32%;
}

.ckd-sec-2-sidebar .ckd-sec-2-sidebar-toc-h {
    background: var(--color-primary);
    color: #fff;
    padding: 20px 35px;
    border-radius: 10px 10px 0 0;
    margin-bottom: 0;
    font-size: clamp(15px, 2vw, 20px);
}

.ckd-sec-2-sidebar ul {
    padding: 25px 10px 20px 35px;
    border-radius: 0 0 10px 10px;
    overflow: hidden;
    box-shadow: 0 4px 30px 0 #6060600D;
}

.ckd-sec-2-sidebar ul li a {
    color: #595959;
    line-height: 170%;
    padding-bottom: 10px;
    font-size: clamp(13px, 1.5vw, 15px);
    font-weight: 400;
    display: inline-block;
    transition: all ease 0.3s;
}

.ckd-sec-2-sidebar ul li a:hover {
    color: #00A0AA;
    transform: scale(1.04) translateX(5px);
    /* scale + move right */
}

.ckd-page h3,
.wtn-page h3 {
    font-size: clamp(28px, 3vw, 36px);
}

.ckd-sec-2-content .ckd-sec-2-content-r2 {
    padding: 50px 0;
}

.ckd-sec-2-content .ckd-sec-2-content-r2 img {
    width: 100%;
}

.ckd-sec-2 .symptoms div,
.ckd-sec-2 .treatments div,
.ckd-sec-2 .disease div {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.ckd-sec-2 .symptoms,
.ckd-sec-2 .disease,
.ckd-sec-2 .progression {
    margin-bottom: 20px;
}

.ckd-sec-2 .symptoms h3,
.ckd-sec-2 .treatments h3,
.ckd-sec-2 .disease h3,
.ckd-sec-2 .progression h3 {
    margin-bottom: 0;
}

.ckd-sec-2 .symptoms ul,
.ckd-sec-2 .treatments ul,
.ckd-sec-2 .disease ul,
.ckd-sec-2 .progression ul {
    padding: 25px 10px 20px 17px;
}

.ckd-sec-2 .symptoms ul.left-ul,
.ckd-sec-2 .treatments ul.left-ul,
.ckd-sec-2 .disease ul.left-ul {
    width: 419px;
}

.ckd-sec-2 .symptoms ul.right-ul,
.ckd-sec-2 .treatments ul.right-ul,
.ckd-sec-2 .disease ul.right-ul {
    width: calc(100% - 450px);
}

.ckd-sec-2 .symptoms ul li,
.ckd-sec-2 .treatments ul li,
.ckd-sec-2 .disease ul li,
.ckd-sec-2 .progression ul li {
    color: #595959;
    line-height: 170%;
    padding-bottom: 10px;
    font-size: clamp(14px, 1.2vw, 18px);
}

.ckd-sec-2-sidebar ul,
.ckd-sec-2-content ul {
    list-style: none;
}

.ckd-sec-2-sidebar ul li,
.ckd-sec-2-content ul li {
    position: relative;
    padding-top: 10px;
    padding-bottom: 10px;
}

.ckd-sec-2-sidebar ul li::before,
.ckd-sec-2-content ul li::before {
    content: "";
    position: absolute;
    left: -1.2em;
    top: 1.2em;
    width: 8px;
    height: 8px;
    background: #00A0AA;
    border-radius: 50%;
}

.ckd-page table {
    width: 100%;
    border-collapse: collapse;
}

.ckd-page table tr th {
    text-align: left;
}

.ckd-page table tr th,
.ckd-page table tr td {
    padding: 13px 35px;
    font-size: clamp(14px, 1.2vw, 18px);
    font-weight: 400;
}

.ckd-page .goals table tr th:nth-last-child(1),
.ckd-page .goals table tr td:nth-last-child(1) {
    border-left: 1px solid #0000000f;
    text-align: center;
    width: 30%;
}

.ckd-page .stages table tr th,
.ckd-page .stages table tr td {
    border-left: 1px solid #0000000f;
    width: 20%;
}

.ckd-page .stages table tr th:nth-child(2),
.ckd-page .stages table tr td:nth-child(2) {
    text-align: center;
}

.ckd-page .stages table tr th:nth-last-child(1),
.ckd-page .stages table tr td:nth-last-child(1) {
    border-left: 1px solid #0000000f;
    width: 60%;
}

.ckd-sec-2 .goals,
.ckd-sec-2 .stages {
    margin-bottom: 50px;
}

.goals-tables-cont,
.stages-tables-cont {
    border-radius: 10px;
    overflow: hidden;
}

.stages-tables-cont {
    margin-bottom: 30px;
}

.ckd-page table thead {
    background: #00A0AA;
    color: #fff;
}

.ckd-page table tbody {
    background: #F1FEFF;
    color: #595959;
}

.wtn-sec-2 p {
    font-weight: 400;
    font-size: clamp(14px, 1.5vw, 16px);
}

.wtn-sec-2-r1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
}

.wtn-sec-2-r1>div {
    width: calc(50% - 25px);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    border-radius: 20px;
}

.wtn-sec-2-r1 .wtn-sec-2-r1-right {
    background: var(--gradient-primary);
    color: #fff;
}

.wtn-sec-2-r1 .wtn-sec-2-r1-right h3,
.wtn-sec-2-r1 .wtn-sec-2-r1-right p,
.wtn-sec-2-r1 .wtn-sec-2-r1-right .view-more-btn {
    color: #fff;
}

.wtn-sec-2-r1 .wtn-sec-2-r1-right p,
.wtn-sec-2-r1 .wtn-sec-2-r1-left p {
    padding-bottom: 60px;
    opacity: 80%;
}

.wtn-sec-2-r1 .wtn-sec-2-r1-left .inner {
    max-width: 585px;
}

.wtn-sec-2-r1 .wtn-sec-2-r1-right .inner {
    max-width: 453px;
}

.wtn-sec-2-r1-left>*,
.wtn-sec-2-r1-right>* {
    text-align: center;
}